<template>
  <div class="content container">
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="../assets/img/home_slider_1.jpg" class="d-block w-100 sz-template" alt="carousel-1">
            </div>
            <div class="carousel-item">
            <img src="../assets/img/home_slider_2.jpg" class="d-block w-100" alt="carousel-2">
            </div>
            <!-- <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="carousel-3">
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
        <div class="container">
          <div class="title-container">
            <div class="filters">
              <span class="filter" v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
              <span class="filter" v-bind:class="{ active: currentFilter === 'SWEATER' }" v-on:click="setFilter('SWEATER')">SWEATER</span>
              <span class="filter" v-bind:class="{ active: currentFilter === 'DENIM' }" v-on:click="setFilter('DENIM')">DENIM</span>
            </div>
          </div>
        <!-- eslint-disable vue/no-use-v-if-with-v-for,vue/no-confusing-v-for-v-if -->
          <transition-group class="projects" name="projects" >
            <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="project in projects">
              <div class="project-image-wrapper">
                <img class="project-image" v-bind:src="project.image">
              <div class="gradient-overlay"></div>
                <span class="project-title">{{project.title}}</span>
              </div>
            </div>
          </transition-group>
        </div>
        </div>
</template>

<script>

export default {
  name: 'Content',
  data: function () {
    return {
      currentFilter: 'ALL',
      projects: [
        { title: 'NBA Sweater', image: require('../assets/img/5.jpg'), category: 'SWEATER' },
        { title: 'Blank Black Denim Jacket', image: require('../assets/img/8.jpg'), category: 'DENIM' },
        { title: '66 Project Oversize Sweater', image: require('../assets/img/2.jpg'), category: 'SWEATER' },
        { title: 'Stone Denim Jacket', image: require('../assets/img/9.jpg'), category: 'DENIM' },
        { title: 'Blank Black Sweater', image: require('../assets/img/3.jpg'), category: 'SWEATER' },
        { title: 'Looney Tunes Sweater', image: require('../assets/img/7.jpg'), category: 'SWEATER' },
        { title: "Hum 'M.A.S.K' Sweater", image: require('../assets/img/10.jpg'), category: 'SWEATER' },
        { title: 'Hangten Adventure Sweater', image: require('../assets/img/4.jpg'), category: 'SWEATER' }
      ]
    }
  },
  methods: {
    setFilter: function (filter) {
      this.currentFilter = filter
    }
  }
}
</script>

<style>
html,body {
  margin:0;
  font-family: 'Dawning of a New Day', cursive;
}

.title-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top: 2%;
}

.title {
  font-family: 'Dawning of a New Day', cursive;
  font-size:30pt;
  font-weight:normal;
}

.project-title {
  font-size:13pt;
  text-align: center;
}

.filter {
  font-family:arial;
  padding: 6px 6px;
  cursor:pointer;
  border-radius: 6px;
  transition: all 0.35s;
}

.filter.active {
  box-shadow:0px 1px 3px 0px #00000026;
}

.filter:hover {
  background:lightgray;
}

.projects {
  margin-bottom:50px;
  margin-top:25px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.projects-enter {
  transform: scale(0.5) translatey(-80px);
  opacity:0;
}

.projects-leave-to{
  transform: translatey(30px);
  opacity:0;
}

.projects-leave-active {
  position: absolute;
  z-index:-1;
}

.circle {
  text-align:center;
  position:absolute;
  bottom:-38px;
  left:40px;
  width:100px;
  height:100px;
  border-radius:50px;
/* border:1px solid black; */
  display:flex;
  box-shadow: 0px -4px 3px 0px #494d3257;
  justify-content:center;
  align-items:center;
  background-color:#fff;
/* box-shadow:0px -3px 3px #484848a6; */
}

.project {
  transition: all .35s ease-in-out;
  margin:10px;
  box-shadow:0px 2px 8px lightgrey;
  border-radius:3px;
  width:180px;
  height:200px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.project-image-wrapper {
  position:relative;
}

.gradient-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:150px;
  opacity:0.09;
  background:
  linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%),
  linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.project-image {
  width:100%;
  height:150px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
</style>
